$treeview-bg: $body-bg !default;
$treeview-bg-disabled: $input-disabled-bg !default;
$treeview-color: $body-color !default;
$treeview-color-disabled: $text-muted !default;

$treeview-item-padding-y: 2px !default;
$treeview-item-padding-x: 4px !default;
$treeview-item-level-size: 16px !default;

@mixin treeview-item-hover()
{
    background: lighten($primary, 45%);
    border: 1px solid lighten($primary, 30%);
}
@mixin treeview-item-selected()
{
    background: lighten($primary, 30%);
    border: 1px solid lighten($primary, 15%);
}

.treeview-subitem
{
    position: relative;

    &.open
    {
    }

    .treeview-subitem-content
    {
        display: block;
        transition: height 0.2s ease-out;
    }
}

.treeview
{
    user-select: none;
    color: $treeview-color;
    background: $treeview-bg;
    &.disabled
    {
        pointer-events: none;
        color: $treeview-color-disabled;
        background: $treeview-bg-disabled;
    }

    .treeview-item
    {
        position: relative;
        
        display: flex;
        align-items: center;

        border-left: 1px solid transparent;

        padding-left: calc(#{$treeview-item-level-size} * var(--level));

        > i
        {
            position: absolute;
            
            left: calc(#{$treeview-item-level-size} * var(--level));

            transition: all 0.2s ease-out;
        }
        > .label
        {
            margin-left: 20px;
            margin-right: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            padding: $treeview-item-padding-y $treeview-item-padding-x;
            border-left: 1px solid transparent;
        }
    }

    &.fullrow
    {
        &.disabled
        {
            .treeview-item
            {
                border: 1px solid transparent;
            }
        }
        &:not(.disabled)
        {
            .treeview-item
            {
                cursor: pointer;
                border: 1px solid transparent;
                &:hover
                {
                    @include treeview-item-hover();
                }
                &.selected
                {
                    @include treeview-item-selected();
                }
            }
        }
    }
    &:not(.fullrow)
    {
        &.disabled
        {
            .treeview-item
            {
                .label
                {
                    border: 1px solid transparent;
                }
            }
        }
        &:not(.disabled)
        {
            .treeview-item
            {
                .label
                {
                    cursor: pointer;
                    border: 1px solid transparent;
                    &:hover
                    {
                        @include treeview-item-hover();
                    }
                }
                &.selected
                {
                    .label
                    {
                        @include treeview-item-selected();
                    }
                }
            }
        }
    }
}

.treeview-item-action-button
{
    left: inherit;
    right: 4px;
    position: absolute;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px;
    cursor: pointer;

    &:hover
    {
        border-radius: 2px;
        border: 1px solid lighten($primary, 25%);
        background: lighten($primary, 35%);
    }
}
